doctype html
html(ng-app='prop', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='authors', content='Adam Barnhard, David Boling, Melanie Fryman, Logan Richardson, & Dennis Stanley')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Nashville Investor

    // FAV AND TOUCH ICONS
    // MLF NOTE: REPLACE ICONS!!!
    link(rel='shortcut icon', href='/assets/images/icons/favicon.ico')
    link(rel='apple-touch-icon', href='/assets/images/icons/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/images/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/images/icons/apple-touch-icon-114x114.png')
    // ICON STYLES
    link(rel='stylesheet', href='/vendor/zerif/assets/icon-fonts/icon-styles.css')
    link(rel='stylesheet', href='/vendor/zerif/assets/pd-icons/pixeden-icons.css')
    // VENDOR STYLES
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
    link(rel='stylesheet', href='/vendor/toastr/toastr.css')
    link(rel='stylesheet', href='/vendor/zerif/css/jquery.vegas.min.css')
    link(rel='stylesheet', href='/vendor/zerif/css/animate.min.css')
    // RESPONSIVE STYLES
    link(rel='stylesheet', href='/vendor/zerif/css/responsive.css')
    // CUSTOM STYLES
    link(rel='stylesheet', href='/index.css')
    // WEBFONT
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Montserrat:700,400|Homemade+Apple')
    //if IE version < 9, run these scripts
    // MLF NOTE: FIX THIS!
    // script(src='vendor/zerif/js/html5shiv.js')
    // script(src='vendor/zerif/js/respond.min.js')

  body
    // (ng-controller='HomeCtrl')
    // #loading(ng-show='isLoading')
    //  #loadIcon

    // *********** PRE LOADER / WAITING *********** //
    div.preloader
      div.status &nbsp;  
    // *********** HOME SECTION *********** //
    header#home.header
      include nav
      div.container
        // HEADING
        h1.intro Informative Quality Data for Nashville Property Investors
        // CALL TO ACTION BUTTONS
        div.buttons
          a.btn.btn-primary.custom-button.red-btn(href='/#/#aboutus') About Us
          a.btn.btn-primary.custom-button.green-btn(href='/#/#invest') Find Investments
        // 3 SHORT MESSAGE ABOUT COMPANY
        .row.bottom-message-section
          .col-lg-4.col-sm-4
            .short-text
              i.icon.icon-fontawesome-webfont-358
              | &nbsp;Property value information
          .col-lg-4.col-sm-4
            .short-text
              i.icon-fontawesome-webfont-286
              | &nbsp;Residential permits
          .col-lg-4.col-sm-4
            .short-text
              i.icon-fontawesome-webfont-347
              | &nbsp;Pending commercial developments
    .row
      #container(ng-view)

    //* === SCRIPTS ===*//
    // APP VENDOR SCRIPTS
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOoswi3fUi-t8NCGt_zFTsDFEA4FpvoU&sensor=true')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/chartjs/Chart.js')
    script(src='/vendor/toastr/toastr.js')
    script(src='/vendor/localforage/dist/localforage.js')
    script(src='/vendor/angular-localforage/dist/angular-localForage.js')
    // APP THEME SCRIPTS
    script(src='/vendor/zerif/js/jquery.scrollTo.min.js')
    script(src='/vendor/zerif/js/wow.min.js')
    script(src='/vendor/zerif/js/jquery.nav.js')
    script(src='/vendor/zerif/js/jquery.knob.js')
    script(src='/vendor/zerif/js/smoothscroll.js')
    script(src='/vendor/zerif/js/jquery.vegas.min.js')
    script(src='/vendor/zerif/js/theme.js')
    // CUSTOM SCRIPTS
    script(src='/config/toastr.js')
    script(src='/index.js')
    script(src='/nav.js')
    // ANGULAR CONTROLLERS
    script(src='/views/home/home.js')
    script(src='/views/value/value.js')
    script(src='/views/register/register.js')
    script(src='/views/login/login.js')
    script(src='/views/logout/logout.js')
    // ANGULAR FACTORIES
    script(src='/components/factories/home.js')
    script(src='/components/factories/user.js')
    script(src='/components/factories/value.js')
    script(src='/components/factories/res.js')
    script(src='/components/factories/com.js')
    script(src='/components/factories/http-interceptor.js')
