// *********** ABOUT US SECTION *********** //
section#aboutus.about-us
  .container
    // SECTION HEADER
    .section-header
      // SECTION TITLE
      h2.white-text About Us
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6.white-text
        | We design & develop quality applications to help small & medium level property investors.
    // 3 COLUMNS OF ABOUT US
    .row
      // COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY
      .col-lg-4.col-md-4.column
        .big-intro.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          | Developing Amazing Things with Passion since 2002.
      // COLUMN 2 - BRIEF ABOUT THE COMPANY
      .col-lg-4.col-md-4.column
        p.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          | Created forth two. Behold appear first, kind all i saying fowl man itself moved which every open shall moved subdue appear. Saying life wherein stars. Give dry, own, male had that us third lesser over deep. May every bring in it Whose. Female earth heaven won't behold female.
          br
          br
          | Moved bearing give a two after. Had. Seas. Man they're. Grass above kind saying thing for that void sixth fly His after it.
          br
          br
          | The set doesn't moved. Deep don't fruit fowl gathering heaven days moving creeping under from i air. Set it fifth Meat was darkness. every bring in it Whose. Female earth heaven won't behold female.
      // COLUMN 3 - SKILLS
      .col-lg-4.col-md-4.column
        ul.skills.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          // SKILL ONE
          li.skill
            .skill-count
              .skill1.tech1
            h6 MongoDB
            p
              | MongoDB is the leading NoSQL database, empowering businesses to be more agile and scalable. 
          // SKILL TWO
          li.skill
            .skill-count
             .skill2.tech2
            h6 express
            p
              | Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.
          // SKILL THREE
          li.skill
            .skill-count
              .skill3.tech3
            h6 AngularJS
            p
              | AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
          // SKILL FOUR
          li.skill
            .skill-count
              .skill4.tech4
            h6 Node.js
            p
              | Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.
