// *********** CONTACT US SECTION *********** //
section#contact.contact-us
  .container
    // SECTION HEADER
    .section-header
      // SECTION TITLE
      h2.white-text Get in touch
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6.white-text
<<<<<<< HEAD
        | Have any question? Drop us a message. We will get back to you as soon as we can.
=======
        | Have any question? Drop us a message. We will get back to you in 24 hours.
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
    // CONTACT FORM
    .row
      form.contact-form(role='form', action='#')
        .wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          .col-lg-4.col-sm-4
            input.form-control.input-box(type='text', name='name', placeholder='Your Name')
          .col-lg-4.col-sm-4
            input.form-control.input-box(type='email', name='email', placeholder='Your Email')
          .col-lg-4.col-sm-4
            input.form-control.input-box(type='text', name='subject', placeholder='Subject')
        .col-md-12.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          textarea.form-control.textarea-box(name='message', placeholder='Your Message')
        button.btn.btn-primary.custom-button.red-btn.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s', type='submit') Send Message
