// *********** FEATURES SECTION *********** //
section#features.features
  div.container
    // SECTION HEADER
    div.section-header
      // SECTION TITLE
      h2.dark-text Features
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6
        | We design & develop quality products to help small & medium level business.
    // FEATURES
    div.row
      // FEATURES COLUMN LEFT
      div.col-md-6.col-sm-6.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
        // FEATURE
        div.feature
          div.feature-icon
            i.icon-heart-1
          h5 Design with Love
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        // FEATURE
        div.feature
          div.feature-icon
            i.icon-bulb
          h5 Creative Features
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        // FEATURE
        div.feature
          div.feature-icon
            i.icon-settings-1
          h5 Thousands of Options
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      // FEATURES COLUMN RIGHT
      div.col-md-6.col-sm-6.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
        // FEATURE
        div.feature
          div.feature-icon
            i.icon-params
          h5 Easy to Customize
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        // FEATURE
        div.feature
          div.feature-icon
            i.icon-handle-streamline-vector
          h5 Clean Strategy
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        // FEATURE
        div.feature
          div.feature-icon
            i.icon-speech-streamline-talk-user
          h5 Awesome Support
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

