// *********** FOCUS SECTION *********** //
section#focus.focus
  div.container
    // SECTION HEADER
    div.section-header
      // SECTION TITLE
      h2.dark-text Our Focus
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6
        | We design & develop qaulity products to help small & medium level business.
    // 4 FOCUS BOXES
    div.row
      // FIRST FOCUS BOXES
      div.col-lg-3.col-sm-3.focus-box.red.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
        div.service-icon
          i.pixeden.pd-icon-monitor
          // FOCUS ICON
        h5.red-border-bottom Web Design
        // FOCUS HEADING
        p
          // FOCUS DESCRIPTION
          | Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
      // NEXT FOCUS BOX. Other boxes has same format as above
      div.col-lg-3.col-sm-3.focus-box.green.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
        div.service-icon
          span.pixeden.pd-icon-camera
        h5.green-border-bottom Photography
        p
          | Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
      div.col-lg-3.col-sm-3.focus-box.blue.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
        div.service-icon
          i.pixeden.pd-icon-email-marketing
        h5.blue-border-bottom Email Marketing
        p
          | Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
      div.col-lg-3.col-sm-3.focus-box.yellow.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
        div.service-icon
          i.pixeden.pd-icon-check
        h5.yellow-border-bottom SEO & SMM
        p
          | Created cattle form fruit. Saying from given together face without waters, whose. Second first. Face it saw give creature was thing. Over upon is brought. Him you'll above kind set
    // OTHER FOCUSES
    div.other-focuses
      h5
        span.section-footer-title ALSO WE FOCUS ON
    // OTHER FOCUS LIST
    div.other-focus-list.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
      ul
        li
          i.icon-fontawesome-webfont-8
          | WEB APPLICATIONS
        li
          i.icon-fontawesome-webfont-267
          | SEARCH ENGINE OPTIMIZATION
        li
          i.icon-fontawesome-webfont-75
          | CLOUD STORAGE
        li
          i.icon-fontawesome-webfont-358
          | Project Management
        li
          i.icon-fontawesome-webfont-102
          | IOS APP
        li
          i.icon-fontawesome-webfont-328
          | ANDROID APP
        li
          i.icon-fontawesome-webfont-195
          | WINDOWS APP
        li
          i.icon-fontawesome-webfont-297
          | UX STRATEGY

