// *********** FOOTER SECTION *********** //
footer
  .container
    // COMPANY ADDRESS
    .col-md-3.company-details
      .icon-top.red-text
        i.icon-fontawesome-webfont-302
      | 283 Plus Park Blvd.
      | Nashville, TN 37217
    // COMPANY EMAIL
    .col-md-3.company-details
      .icon-top.green-text
        i.icon-fontawesome-webfont-329
      | contact@teamvoltron.com
    // COMPANY PHONE NUMBER
    .col-md-3.company-details
      .icon-top.blue-text
        i.icon-fontawesome-webfont-101
      | (555) 555-5555
    // SOCIAL ICON AND COPYRIGHT
    .col-lg-3.col-sm-3.copyright
      ul.social
        li
          a(href='https://twitter.com/nashinvestor')
            i.icon-fontawesome-webfont-147
        li
          a(href='https://facebook.com/nashinvestor')
            i.icon-fontawesome-webfont-103
        li
          a(href='https://github.com/mlfryman/nashville-investor')
            i.icon-fontawesome-webfont-185
      | &copy; 2014 Team Voltron 2.0
