// *********** FOOTER SECTION *********** //
footer
  .container
    // COMPANY ADDRESS
<<<<<<< HEAD
    .col-md-3.company-details
=======
    .col-md-5.company-details
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
      .icon-top.red-text
        i.icon-fontawesome-webfont-302
      | 415 Church Street, Nashville, TN 37219
    // COMPANY EMAIL
<<<<<<< HEAD
    .col-md-3.company-details
=======
    .col-md-2.company-details
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
      .icon-top.green-text
        i.icon-fontawesome-webfont-329
      | contact@teamvoltron.com
    // COMPANY PHONE NUMBER
<<<<<<< HEAD
    .col-md-3.company-details
=======
    .col-md-2.company-details
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
      .icon-top.blue-text
        i.icon-fontawesome-webfont-101
      | (555) 555-5555
    // SOCIAL ICON AND COPYRIGHT
    .col-lg-3.col-sm-3.copyright
      ul.social
        li
<<<<<<< HEAD
          a(href='https://twitter.com/nashinvestor')
            i.icon-fontawesome-webfont-147
        li
          a(href='https://facebook.com/nashinvestor')
            i.icon-fontawesome-webfont-103
        li
          a(href='https://github.com/mlfryman/nashville-investor')
            i.icon-fontawesome-webfont-185
      | ©2014 Team Voltron 2.0
=======
          a(href='')
            i.icon-facebook
        li
          a(href='')
            i.icon-twitter-alt
        li
          a(href='')
            i.icon-linkedin
        li
          a(href='')
            i.icon-behance
        li
          a(href='')
            i.icon-dribbble
      | ©2014 Team Voltron 2.0
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
