// *********** FOOTER SECTION *********** //
footer
  .container
    // COMPANY ADDRESS
    .col-md-5.company-details
      .icon-top.red-text
        i.icon-fontawesome-webfont-302
      | 415 Church Street, Nashville, TN 37219
    // COMPANY EMAIL
    .col-md-2.company-details
      .icon-top.green-text
        i.icon-fontawesome-webfont-329
      | contact@teamvoltron.com
    // COMPANY PHONE NUMBER
    .col-md-2.company-details
      .icon-top.blue-text
        i.icon-fontawesome-webfont-101
      | (555) 555-5555
    // SOCIAL ICON AND COPYRIGHT
    .col-lg-3.col-sm-3.copyright
      ul.social
        li
          a(href='')
            i.icon-facebook
        li
          a(href='')
            i.icon-twitter-alt
        li
          a(href='')
            i.icon-linkedin
        li
          a(href='')
            i.icon-behance
        li
          a(href='')
            i.icon-dribbble
      | ©2014 Team Voltron 2.0