// *********** HOME SECTION *********** //
.container
  // HEADING
  h1.intro Informative Quality Data for Nashville Property Investors
  // CALL TO ACTION BUTTONS
  .buttons
    a.btn.btn-primary.custom-button.red-btn(href='#invest') Search Properties
    a.btn.btn-primary.custom-button.green-btn(href='#') About Us
  // 3 SHORT MESSAGE ABOUT COMPANY
  .row.bottom-message-section
    .col-lg-4.col-sm-4
      .short-text
        i.icon.icon-fontawesome-webfont-358
        | Property value information
    .col-lg-4.col-sm-4
      .short-text
        i.icon-fontawesome-webfont-286
        | Residential permits
    .col-lg-4.col-sm-4
      .short-text
        i.icon-fontawesome-webfont-347
        | Commercial developments
  include focus
  include separator
  include works
  include stats
  include team
  include packages
  include features
  include products
  include newsletter
  include testimonial
  include contact
  include footer
  include invest
