// *********** NEWSLETTER *********** //
section.newsletter
  .container
    h3.white-text.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s') Stay in touch
    // NEWSLETTER SECTION HEADING
    .sub-heading.white-text.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
      | Sign Up for Email Updates on on News & Offers
    // SUBSCRIPTION FORM
    form.subscription.wow.fadeInLeft.animated(action='#', data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s', role='form')
      input.form-control.input-box(type='email', placeholder='Enter email')
      button.btn.btn-primary.custom-button.red-btn Sign Up