// *********** PACKAGES SECTION *********** //
section#pricingtable.packages
  div.container
    // SECTION HEADER
    div.section-header
      // SECTION TITLE
      h2.white-text Packages
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6.white-text
        | We have 4 friendly packages for you. Check all the packages and choose the right one for you.
    // PACKAGES
    div.row
      // FIRST PACKAGE
      div.col-lg-3.col-sm-3
        div.package.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          div.package-header.green-bg
            h5 Basic
          div.price.dark-bg
            div.price-container
              h4
                span.dollar-sign $
                | 15
              span.price-meta
                | / mo
          ul
            li
              i.icon-check
              | 100GB Storage
            li
              i.icon-check
              | All Themes
            li
              i.icon-cancel
              | Access to Tutorials
            li
              i.icon-cancel
              | Auto Backup
            li
              i.icon-cancel
              | Extended Security
          a.btn.btn-primary.custom-button.green-btn(href='#')
            | Sign Up
      // NEXT PACKAGE
      div.col-lg-3.col-sm-3
        div.package.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          div.package-header.blue-bg
            h5 Standard
          div.price.dark-bg
            div.price-container
              h4
                span.dollar-sign $
                | 21
              span.price-meta / Mo
          ul
            li
              i.icon-check
              | 100GB Storage
            li
              i.icon-check
              | All Themes
            li
              i.icon-cancel
              | Access to Tutorials
            li
              i.icon-cancel
              | Auto Backup
            li
              i.icon-cancel
              | Extended Security
          a.btn.btn-primary.custom-button.blue-btn(href='#')
            | Sign Up
      div.col-lg-3.col-sm-3
        div.best-value
          div.package.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
            div.package-header.red-bg
              h4 Premium
              div.meta-text
                | Best Value
            div.price.dark-bg
              h4
                span.dollar-sign $
                | 53
              span.price-meta / mo
            ul
              li
                i.icon-check
                | 100GB Storage
              li
                i.icon-check
                | All Themes
              li
                i.icon-cancel
                | Access to Tutorials
              li
                i.icon-cancel
                | Auto Backup
              li
                i.icon-cancel
                | Extended Security
            a.btn.btn-primary.custom-button.red-btn(href='#')
              | Sign Up
      div.col-lg-3.col-sm-3
        div.package.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          div.package-header.yellow-bg
            h5 Ultimate
          div.price.dark-bg
            h4
              span.dollar-sign $
              | 99
            span.price-meta / mo
          ul
            li
              i.icon-check
              | 100GB Storage
            li
              i.icon-check
              | All Themes
            li
              i.icon-cancel
              | Access to Tutorials
            li
              i.icon-cancel
              | Auto Backup
            li
              i.icon-cancel
              | Extended Security
          a.btn.btn-primary.custom-button.yellow-btn(href='#')
            | Sign Up

