// *********** PRICING PACKAGES SECTION *********** //
section#pricingtable.packages
  div.container
    // SECTION HEADER
    div.section-header
      // SECTION TITLE
      h2.white-text Packages
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6.white-text
        | We have 2 friendly packages for you. Check them out and choose the right one for you.
    // PACKAGES
    div.row
      // FIRST PACKAGE
      div.col-lg-3.col-sm-3
        div.package.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          div.package-header.green-bg
            h5 Basic
          div.price.dark-bg
            div.price-container
              h4
                span.dollar-sign $
                | 0
              span.price-meta
                | / mo
          ul
            li
              i.icon-check
              | 100GB Storage
            li
              i.icon-check
              | All Themes
            li
              i.icon-cancel
              | Access to Tutorials
            li
              i.icon-cancel
              | Auto Backup
            li
              i.icon-cancel
              | Extended Security
          a.btn.btn-primary.custom-button.green-btn(href='#')
            | Sign Up
      div.col-lg-3.col-sm-3
        div.package.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          div.package-header.yellow-bg
            h5 Premium
          div.price.dark-bg
            h4
              span.dollar-sign $
              | 1
            span.price-meta / mo
          ul
            li
              i.icon-check
              | 100GB Storage
            li
              i.icon-check
              | All Themes
            li
              i.icon-cancel
              | Access to Tutorials
            li
              i.icon-cancel
              | Auto Backup
            li
              i.icon-cancel
              | Extended Security
          a.btn.btn-primary.custom-button.yellow-btn(href='#')
            | Upgrade Now

