// *********** PRODUCTS SECTION *********** //
section#products.products(data-type='background', data-speed='1')
  div.color-overlay
    div.container
      // SECTION HEADER
      div.section-header
        // SECTION TITLE
        h2.white-text Products
        // SHORT DESCRIPTION ABOUT THE SECTION
        h6.white-text
          | We design & develop qaulity products to help small & medium level business.
      // PRODUCTS
      div.row.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
        // SINGLE PRODUCT
        div.col-md-3
          div.item.item-1
            div.item-overlay
            div.item-content
              div.item-top-content
                div.item-top-content-inner
                  div.item-product
                    div.item-top-title
                      h5 One Light
                      // PRODUCT TITLE
                      p.subdescription
                        | WordPress Theme
                      // PRODUCT DESCRIPTION
                  div.item-product-price
                    // PRICE
                    span.price-num.green-text $17
                    // OLD PRICE
                    p.subdescription
                      | $36
                    div.old-price
              // ITEM HOVER CONTENT
              div.item-add-content
                div.item-add-content-inner
                  div.section
                    p
                      | Creative WordPress Theme
                  div.section
                    a.btn.btn-primary.custom-button.red-btn(href='#') Demo
                    br
                    a.btn.btn-primary.custom-button.green-btn(href='#') Buy
        // END FIRST ITEM
        div.col-md-3
          div.item.item-2
            div.item-overlay
            div.item-content
              div.item-top-content
                div.item-top-content-inner
                  div.item-product
                    div.item-top-title
                      h5 Telfez
                      p.subdescription
                        | WordPress Theme
                  div.item-product-price
                    span.price-num.green-text $17
                    p.subdescription
                      | $36
                    div.old-price
              div.item-add-content
                div.item-add-content-inner
                  div.section
                    p
                      | Creative WordPress Theme
                  div.section
                    a.btn.btn-primary.custom-button.red-btn(href='#') Demo
                    br
                    a.btn.btn-primary.custom-button.green-btn(href='#') Buy
        div.col-md-3
          div.item.item-3
            div.item-overlay
            div.item-content
              div.item-top-content
                div.item-top-content-inner
                  div.item-product
                    div.item-top-title
                      h5 Calender
                      p.subdescription
                        | Widget
                  div.item-product-price
                    span.price-num.green-text $9
                    p.subdescription
                      | $15
                    div.old-price
              div.item-add-content
                div.item-add-content-inner
                  div.section
                    p
                      | Beautiful Calender Widget
                  div.section
                    a.btn.btn-primary.custom-button.red-btn(href='#') Demo
                    br
                    a.btn.btn-primary.custom-button.green-btn(href='#') Buy
        div.col-md-3
          div.item.item-4
            div.item-overlay
            div.item-content
              div.item-top-content
                div.item-top-content-inner
                  div.item-product
                    div.item-top-title
                      h5 Toolbar
                      p.subdescription
                        | UI Element
                  div.item-product-price
                    span.price-num.green-text $11
              div.item-add-content
                div.item-add-content-inner
                  div.section
                    p
                      | Beautiful Toolbar with Icons
                  div.section
                    a.btn.btn-primary.custom-button.red-btn(href='#') Demo
                    br
                    a.btn.btn-primary.custom-button.green-btn(href='#') Buy
      // END FIRST ROW
      div.row.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
        div.col-md-3
          div.item.item-5
            div.item-overlay
            div.item-content
              div.item-top-content
                div.item-top-content-inner
                  div.item-product
                    div.item-top-title
                      h5 Public Radio
                      p.subdescription
                        | UI Element
                  div.item-product-price
                    span.price-num.green-text $15
                    p.subdescription
                      | $23
                    div.old-price
              div.item-add-content
                div.item-add-content-inner
                  div.section
                    p
                      | Creative Radio PSD
                  div.section
                    a.btn.btn-primary.custom-button.red-btn(href='#') Demo
                    br
                    a.btn.btn-primary.custom-button.green-btn(href='#') Buy
        div.col-md-3
          div.item.item-6
            div.item-overlay
            div.item-content
              div.item-top-content
                div.item-top-content-inner
                  div.item-product
                    div.item-top-title
                      h5 Health Care
                      p.subdescription
                        | One Page Template
                  div.item-product-price
                    span.price-num.green-text $18
                    p.subdescription
                      | $30
                    div.old-price
              div.item-add-content
                div.item-add-content-inner
                  div.section
                    p
                      | Responsive One Page Template
                  div.section
                    a.btn.btn-primary.custom-button.red-btn(href='#') Demo
                    br
                    a.btn.btn-primary.custom-button.green-btn(href='#') Buy
        div.col-md-3
          div.item.item-7
            div.item-overlay
            div.item-content
              div.item-top-content
                div.item-top-content-inner
                  div.item-product
                    div.item-top-title
                      h5 Radio Dial
                      p.subdescription
                        | UI Element
                  div.item-product-price
                    span.price-num.green-text $10
              div.item-add-content
                div.item-add-content-inner
                  div.section
                    p
                      | Creative WordPress Theme
                  div.section
                    a.btn.btn-primary.custom-button.red-btn(href='#') Demo
                    br
                    a.btn.btn-primary.custom-button.green-btn(href='#') Buy
        div.col-md-3
          div.item.item-8
            div.item-overlay
            div.item-content
              div.item-top-content
                div.item-top-content-inner
                  div.item-product
                    div.item-top-title
                      h5 Pricing Page
                      p.subdescription
                        | UI Element
                  div.item-product-price
                    span.price-num.green-text $17
                    p.subdescription
                      | $36
                    div.old-price
              div.item-add-content
                div.item-add-content-inner
                  div.section
                    p
                      | Creative UI Element
                  div.section
                    a.btn.btn-primary.custom-button.red-btn(href='#') Demo
                    br
                    a.btn.btn-primary.custom-button.green-btn(href='#') Buy

