// *********** STATS *********** //
section.stats
  div.container
    // STATS
    div.row
      // START COLUMN
      div.col-lg-3.col-sm-3
        div.stat.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
          div.icon-top.red-text
            i.icon-design-graphic-tablet-streamline-tablet
          div.stat-text
            h3.white-text.red-border-bottom 1,236
            h6 Projects Completed
      // START COLUMN
      div.col-lg-3.col-sm-3
        div.stat.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='1.75s', data-wow-delay='0.30s')
          div.icon-top.green-text
            i.icon-man-people-streamline-user
          div.stat-text
            h3.white-text.green-border-bottom 196
            h6 Happy Clients
      // START COLUMN
      div.col-lg-3.col-sm-3
        div.stat.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='2s', data-wow-delay='0.45s')
          div.icon-top.blue-text
            i.icon-email-mail-streamline
          div.stat-text
            h3.white-text.blue-border-bottom 56,236
            h6 Mail Conversation
      // START COLUMN
      div.col-lg-3.col-sm-3
        div.stat.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='2.25s', data-wow-delay='1s')
          div.icon-top.yellow-text
            i.icon-picture-streamline-1
          div.stat-text
            h3.white-text.yellow-border-bottom 2,519
            h6 Photos Taken