#tabs(ng-show='loc.name')
  ul.nav.nav-pills
    li.selection(ng-class='{tabActive:isSelected(1)}')
      a(href='', ng-click='selectTab(1)') Home Value
    li.selection(ng-class='{tabActive:isSelected(2)}')
      a(href='', ng-click='selectTab(2)') Residential Development
    li.selection(ng-class='{tabActive:isSelected(3)}')
      a(href='', ng-click='selectTab(3)') Commercial Development
    br
  #dataContent
    #loading(ng-show='isLoading') 
     #loadIcon: i.fa.fa-cog.fa-spin.fa-4x
    .content(ng-show='isSelected(1)')
      canvas#value(style='width: 300px; height: 300px')
    .content(ng-show='isSelected(2)')
      canvas#permit-chart(width='409', height='204')
    .content(ng-show='isSelected(3)')
      table.table.table-hover
        thead
          tr
            th Project
            th Meeting Date
        tbody
          tr(ng-repeat='r in appRows')
            td {{r.project}}
            td {{r.meetingDate | date:'mediumDate'}}
