// *********** TEAM SECTION *********** //
section#team.our-team
  .container
    // SECTION HEADER
    .section-header
      // SECTION TITLE
      h2.dark-text Our Team
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6
        | Check our awesome team memebers who always work hard to provide quality products.
    // TEAM MEMBERS
    .row.wow.fadeInRight.animated(data-wow-offset='40', data-wow-duration='3s', data-wow-delay='0.15s')
      // MEMBER 1
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic1.jpg', alt='')
            // MEMBER PROFILE PIC
          .member-details
            h5.dark-text.red-border-bottom Jason Daniels
            .position
              | Founder
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-dribbble
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 2
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic2.jpg', alt='')
          .member-details
            h5.dark-text.green-border-bottom Patricia Medina
            .position
              | Senior Desigener
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 3
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic3.jpg', alt='')
          .member-details
            h5.dark-text.blue-border-bottom Eugene Lane
            .position
              | Lead Developer
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 4
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic4.jpg', alt='')
          .member-details
            h5.dark-text.yellow-border-bottom Kathy Hudson
            .position
              | Art Director
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 5
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic5.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Vincent Mccoy
            .position
              | Project Manager
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-dribbble
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 6
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic6.jpg', alt='')
          .member-details
            h5.dark-text.green-border-bottom Gary Morrison
            .position
              | Photographer
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 7
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic7.jpg', alt='')
          .member-details
            h5.dark-text.blue-border-bottom Patrick Sanchez
            .position
              | Business Development
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 8
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic8.jpg', alt='')
          .member-details
            h5.dark-text.yellow-border-bottom Rachel Rogers
            .position
              | Account Manager
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.

