// *********** TEAM SECTION *********** //
section#team.our-team
  .container
    // SECTION HEADER
    .section-header
      // SECTION TITLE
      h2.dark-text Our Team
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6
<<<<<<< HEAD
        | Check out our awesome team memebers who always work hard to provide quality products.
    // TEAM MEMBERS
    .row.wow.fadeInRight.animated(data-wow-offset='40', data-wow-duration='3s', data-wow-delay='0.15s')
      // MEMBER 1
=======
        | Check our awesome team memebers who always work hard to provide quality products.
    // TEAM MEMBERS
    .row.wow.fadeInRight.animated(data-wow-offset='40', data-wow-duration='3s', data-wow-delay='0.15s')
      // MEMBER
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic1.jpg', alt='')
            // MEMBER PROFILE PIC
          .member-details
<<<<<<< HEAD
            h5.dark-text.red-border-bottom Adam Barnhard
            .position
              | Team Member
=======
            h5.dark-text.red-border-bottom Jason Daniels
            .position
              | Founder
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
          .social-icons
            ul
              li
                a(href='')
<<<<<<< HEAD
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/abarnhard')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/ABarnhard')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 2
=======
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-dribbble
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // / END MEMBER
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic2.jpg', alt='')
          .member-details
<<<<<<< HEAD
            h5.dark-text.green-border-bottom David Bowling
            .position
              | Team Member
=======
            h5.dark-text.green-border-bottom Patricia Medina
            .position
              | Senior Desigener
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
          .social-icons
            ul
              li
                a(href='')
<<<<<<< HEAD
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/serdavosboling')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/kadowki')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 3
=======
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic3.jpg', alt='')
          .member-details
<<<<<<< HEAD
            h5.dark-text.blue-border-bottom Melanie Fryman
            .position
              | Team Member
=======
            h5.dark-text.blue-border-bottom Eugene Lane
            .position
              | Lead Developer
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
          .social-icons
            ul
              li
                a(href='')
<<<<<<< HEAD
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/mlfryman')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/mlfryman')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 4
=======
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic4.jpg', alt='')
          .member-details
<<<<<<< HEAD
            h5.dark-text.yellow-border-bottom Logan Richardson
            .position
              | Team Member
=======
            h5.dark-text.yellow-border-bottom Kathy Hudson
            .position
              | Art Director
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
          .social-icons
            ul
              li
                a(href='')
<<<<<<< HEAD
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/Glogandr')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/GLoganDR')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 5
=======
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic5.jpg', alt='')
          .member-details
<<<<<<< HEAD
            h5.dark-text.red-border-bottom Denis Stanley
            .position
              | Team Member
=======
            h5.dark-text.red-border-bottom Vincent Mccoy
            .position
              | Project Manager
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-dribbble
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic6.jpg', alt='')
          .member-details
            h5.dark-text.green-border-bottom Gary Morrison
            .position
              | Photographer
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic7.jpg', alt='')
          .member-details
            h5.dark-text.blue-border-bottom Patrick Sanchez
            .position
              | Business Development
>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
          .social-icons
            ul
              li
                a(href='')
<<<<<<< HEAD
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/TDSjr82')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/tdsj82')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
=======
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic8.jpg', alt='')
          .member-details
            h5.dark-text.yellow-border-bottom Rachel Rogers
            .position
              | Account Manager
          .social-icons
            ul
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-linkedin
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.

>>>>>>> a6c961ec37607099ede5abd6530e6cac94707b66
