// *********** TEAM SECTION *********** //
section#team.our-team
  .container
    // SECTION HEADER
    .section-header
      // SECTION TITLE
      h2.dark-text Our Team
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6
        | Check out our awesome team memebers who always work hard to provide quality products.
    // TEAM MEMBERS
    .row.wow.fadeInRight.animated(data-wow-offset='40', data-wow-duration='3s', data-wow-delay='0.15s')
      // MEMBER 1
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic1.jpg', alt='')
            // MEMBER PROFILE PIC
          .member-details
            h5.dark-text.red-border-bottom Adam Barnhard
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/abarnhard')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/ABarnhard')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 2
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic2.jpg', alt='')
          .member-details
            h5.dark-text.green-border-bottom David Bowling
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/serdavosboling')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/kadowki')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 3
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic3.jpg', alt='')
          .member-details
            h5.dark-text.blue-border-bottom Melanie Fryman
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/mlfryman')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/mlfryman')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 4
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic4.jpg', alt='')
          .member-details
            h5.dark-text.yellow-border-bottom Logan Richardson
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/Glogandr')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/GLoganDR')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
      // MEMBER 5
      .col-lg-3.col-sm-3
        .team-member
          figure.profile-pic
            img(src='assets/images/team/pic5.jpg', alt='')
          .member-details
            h5.dark-text.red-border-bottom Denis Stanley
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='')
                  i.icon-fontawesome-webfont-354
              li
                a(href='https://twitter.com/TDSjr82')
                  i.icon-fontawesome-webfont-147
              li
                a(href='https://github.com/tdsj82')
                  i.icon-fontawesome-webfont-185
          .details
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
