// *********** TESTIMONIAL *********** //
section#testimonials.testimonial
  div.container
    // SECTION HEADER
    div.section-header
      // SECTION TITLE
      h2.white-text Testimonials
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6.white-text
        | We have worked with hundreds of clients. Check what our awesome happy clients saying about us.
    // CLIENT FEEDBACKS
    .row.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
      .col-md-12
        #client-feedbacks.owl-carousel.owl-theme
          // SINGLE FEEDBACK BOX
          .feedback-box
            // MESSAGE OF THE CLIENT
            .message
              | “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
            // CLIENT INFORMATION
            .client
              .quote.red-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name(href='') Frank Willian
                .client-company
                  | CEO, AbcD Network
              .client-image.hidden-xs
                img(src='assets/images/clients-pic/1.jpg', alt='')
          .feedback-box
            .message
              | “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
            .client
              .quote.green-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name(href='') David Clyne
                .client-company
                  | CEO, Zyxw
              .client-image.hidden-xs
                img(src='assets/images/clients-pic/2.jpg', alt='')
          .feedback-box
            .message
              | “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
            .client
              .quote.blue-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name(href='') Keith McCarthy
                .client-company
                  | Manager, XYZ Inc.
              .client-image.hidden-xs
                img(src='assets/images/clients-pic/3.jpg', alt='')
          .feedback-box
            .message
              | “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
            .client
              .quote.red-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name(href='') Frank Willian
                .client-company
                  | CEO, AbcD Network
              .client-image.hidden-xs
                img(src='assets/images/clients-pic/2.jpg', alt='')
          .feedback-box
            .message
              | “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
            .client
              .quote.green-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name(href='') David Clyne
                .client-company
                  | CEO, Zyxw
              .client-image.hidden-xs
                img(src='assets/images/clients-pic/3.jpg', alt='')
          .feedback-box
            .message
              | “Called days. Image kind beginning have. Herb set kind herb. Wherein saying third was, every land moveth also bearing hath bring had give god gathered behold open cattle after a, from third male subdue multiply divided void cattle winged. Herb set kind herb. multiply divided void cattle winged. Herb set kind herb.”
            .client
              .quote.blue-text
                i.icon-fontawesome-webfont-294
              .client-info
                a.client-name(href='') Keith McCarthy
                .client-company
                  | Manager, XYZ Inc.
              .client-image.hidden-xs
                img(src='assets/images/clients-pic/1.jpg', alt='')
