// *********** WORKS SECTION *********** //
section#works.works
  div.container
    // SECTION HEADER
    div.section-header
      // SECTION TITLE
      h2.dark-text Portfolio
      // SHORT DESCRIPTION ABOUT THE SECTION
      h6
        | We have designed and developed many awesome products. Just take a look.
    div.row.projects
      div#loader
        div.loader-icon
      div#portfolio-list.col-md-12
        // PORTFOLIO ITEMS
        ul.cbp-rfgrid
          // PROJECT
          li.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/1.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInDown.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/2.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInDown.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/3.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/4.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.8s', data-wow-delay='0.15s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/5.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li
            a.more(href='project.html')
              img(src='assets/images/portfolio/6.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li
            a.more(href='project.html')
              img(src='assets/images/portfolio/7.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.8s', data-wow-delay='0.15s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/8.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='2s', data-wow-delay='0.25s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/9.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='2s', data-wow-delay='0.25s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/10.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='2s', data-wow-delay='0.25s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/11.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
          // PROJECT
          li.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='2s', data-wow-delay='0.25s')
            a.more(href='project.html')
              img(src='assets/images/portfolio/12.jpg')
              div.project-info
                div.project-details
                  h5.white-text.red-border-bottom
                    | Project Title
                  div.details.white-text
                    | Web Design
    // PROJECT DETAILS WILL BE LOADED HERE
    div#loaded-content
    a#back-button.red-btn(href='#')
      i.icon-fontawesome-webfont-27
      | Go Back
